<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
  <div class="container">
    <a href="/dashboard" class="navbar-brand">ASIM</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Actions<span
                  class="caret"></span></a>
              <div class="dropdown-menu" aria-labelledby="themes">
                <a class="dropdown-item" href="/docs">Doctors</a>
                <a class="dropdown-item" href="/appts">Appointments</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/about">About</a>
            </li>
          </ul>
          <a href="/users/logout" class="btn btn-secondary" style="margin-left: 600px;">Logout</a>
        </div>
</nav>

<div class="jumbotron" style="margin-top: 22%; text-align: center;">
  <h1 class="display-3" style="text-align: center;">ASIM</h1>
  <h2 style="text-align: center;">Automatic Scheduling and Interactive Machine</h2>
  <hr class="my-4">
  <p>Hospital no shows is a very big problem, it can cause hospitals and money loss billions of money a year. Hence a
    group of students from AUS: Mostafa Abuelnoor, Tasneem Batool and Omar El Boutari along with their advisors: Dr.
    Assim Saghayroon and Dr. Fadi Aloul brainstormed ideas to reduce this loss. We are using machine learning to learn
    patterns of patients who do not show up to their appointments with an accuracy of 95%, and then feeding this
    informtation into the scheduling algorithm to reduce the problem drastically. </p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="https://github.com/MostafaAbuelnoor" role="button" target="_blank">Github</a>
    <a class="btn btn-primary btn-lg" href="/contact" role="button" >Contact Us</a>
  </p>
</div>