<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
  <div class="container">
      <a href="/dashboard" class="navbar-brand">ASIM</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Actions<span class="caret"></span></a>
            <div class="dropdown-menu" aria-labelledby="themes">
              <a class="dropdown-item" href="/docs">Doctors</a>
              <a class="dropdown-item" href="/appts">Appointments</a>
            </div>
          </li>
        <li class="nav-item">
          <a class="nav-link active" href="/contact">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
      </ul>
      <a href="/users/logout" class="btn btn-secondary" style="margin-left: 600px;">Logout</a>
    </div>
</nav>

<div style="margin-top:22%; text-align: center;">
  <h1 style="font-size: 350%;">
    Contact Us
  </h1>
  <h2>
    Here's how you can contact us about any ASIM issue
  </h2>

  <div class="row" style="margin-top: 10%;">
    <div class="col-lg-4">
      <div class="bs-component">
        <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
          <div class="card-header">Github</div>
          <div class="card-body">
            <h4 class="card-title"><a href="https://github.com/MostafaAbuelnoor/ASIM-Admin/issues" target="_blank"
                style="color: white">Github Issues</a></h4>
            <p class="card-text">For less severe issues</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="bs-component">
        <div class="card border-info mb-3" style="max-width: 20rem;">
          <div class="card-header">Email</div>
          <div class="card-body">
            <h4 class="card-title" style="font-size:100%;"><a href="mailto:<email here>"
                target="_top"><strong>mostafa@gmail.com</strong></a></h4>
            <p class="card-text">For medium severity issues</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="bs-component">
        <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
          <div class="card-header">Phone</div>
          <div class="card-body">
            <h4 class="card-title"> <strong>Phone number here</strong> </h4>
            <p class="card-text">For very severe issues</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>