<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
  <div class="container">
    <a href="/dashboard" class="navbar-brand">ASIM</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Actions<span
                  class="caret"></span></a>
              <div class="dropdown-menu" aria-labelledby="themes">
                <a class="dropdown-item" href="/docs">Doctors</a>
                <a class="dropdown-item" href="/appts">Appointments</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
          </ul>

          <a href="/users/logout" class="btn btn-secondary" style="margin-left: 650px;">Logout</a>
        </div>
</nav>

<div style="margin-top:30%; text-align: center;">
  <h1>Welcome to ASIM, <%= user.name %>!</h1>
  <hr class="my-4">
  <p>To start click on "Doctors" to new doctors OR click on Appointments to check the schedule for each doctor. </p>
  <hr class="my-4">
  <a class="btn btn-primary btn-lg" href="/docs" role="button">Doctors</a>
  <a class="btn btn-primary btn-lg" href="/appts" role="button">Appointments</a>
</div>