<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
  <div class="container">
    <a href="/dashboard" class="navbar-brand">ASIM</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Actions<span
                  class="caret"></span></a>
              <div class="dropdown-menu" aria-labelledby="themes">
                <a class="dropdown-item" href="/docs">Doctors</a>
                <a class="dropdown-item" href="/appts">Appointments</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
          </ul>

          <a href="/users/logout" class="btn btn-secondary" style="margin-left: 600px;">Logout</a>
        </div>
</nav>

<div style="margin-top:10%; text-align: center;">
  <h1>Doctors</h1>
  <hr class="my-4">
  <div class="row mt-5">
    <div class="col-md-6 m-auto">
      
        <%- include ('partials/messages') %>
        <form action="/users/register" method="POST">
          <div class="form-group">
            <label for="name">Doctor</label>
            <input type="name" id="name" name="name" class="form-control" placeholder="Enter Name"
              value="<%= typeof name != 'undefined' ? name : '' %>" />
          </div>
          <div class="form-group">
            <label for="email">Specialization</label>
            <input type="special" id="special" name="special" class="form-control" placeholder="Enter Specialization"
              value="<%= typeof specialization != 'undefined' ? specialization : '' %>" />
          </div>
          <div class="form-group">
            <label for="Date">Date</label>
            <input type="date" id="password2" name="password2" class="form-control" placeholder="Confirm Password"
              value="<%= typeof password2 != 'undefined' ? password2 : '' %>" />
          </div>
          <button type="submit" class="btn btn-primary btn-block">
            Add Doctor
          </button>
        </form>
      
    </div>
  </div>
</div>